#carousel {
	/*text-align: center;*/
	width: 400px;
	height: 300px;
	border: 1px solid;
	overflow: hidden;
	margin: 0 auto;
}

ul {
	width: 2000px;
	margin: 0;
	padding: 0;
	display: none;
	list-style: none;
}

li {
	list-style: none;
	width: 400px;
	height: 300px;
	float: left;
}